.asidebar {
    width: 25%;
    padding: 20px;
    background-color: #181a1b;
    flex-direction: column;
    color: #a1988c;

}

.button-list {

    background-color: #181a1b;
    display: flex;
    flex-direction: column;

}

.ho{
    background-color: #181a1b;
    color: #a1988c;
    padding: 5%;
    border: none;
    margin-right: 50%;
    font-weight: 700;


}

button img {
    border-radius: 50%;
}

.ho:hover {
    color: blue;
    background-color: aliceblue;
    width: 100%;
}


.content {
    width: 95%;
    padding: 50px;


}

.main-container {
    display: flex;
    align-items: flex-start;
    background: #181a1b;
    width: 100%;

}